
.facebook {
    width: 200px;
    height: 30px;
    margin-right: 50px;
    margin-bottom: 50px;

    background-color: #385499;
    color: white;
    border: 1px solid transparent;
    border-radius: 3px;
    outline: none;
    font-family: inherit;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.15384615;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.default {
    width: 200px;
    height: 30px;
    margin-right: 50px;
    margin-bottom: 50px;

    background-color: white;
    color: white;
}

.google {
    width: 200px;
    height: 30px;
    background-color: indianred;
    color: white;
    border: 1px solid transparent;
    border-radius: 3px;
    outline: none;
    font-family: inherit;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.15384615;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.social {
    margin: 100px 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.welcome {
    padding: 50px;
    font-size: 20px;
    font-weight: 600;
}

.logout {
    display: none;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.link {
    margin: 100px;
}

@media only screen and (min-width: 600px) {
    .buttons {
        flex-direction: row;
    }
}
